<div class="navbar bg-base-200">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl" routerLink="/">Angular Splitwise App</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a routerLink="/">Home</a></li>
          <!-- <li><a routerLink="/login" >Login</a></li>
          <li><a routerLink="/register" >Register</a></li>
          <li><a routerLink="/profile" >Profile</a></li>
          <li><a routerLink="/dashboard" >Dashboard</a></li> -->
      </ul>
    </div>
    <div class="navbar-end gap-3">
      <a class="btn" routerLink="/login">Login</a>
      <a class="btn" routerLink="/register">Register</a>
    </div>
  </div>