<div class="hero min-h-screen">
  <div class="card flex-shrink-0 w-full max-w-lg shadow-2xl bg-base-200">
    <div class="card-body">
      <div class="flex flex-row gap-2">
        <div class="flex-grow">
          <label class="label">
            <span class="label-text">First Name</span>
          </label>
          <input type="text" placeholder="First Name" class="input input-bordered w-full" />
        </div>
        <div class="flex-grow">
          <label class="label">
            <span class="label-text">Last Name</span>
          </label>
          <input type="text" placeholder="Last Name" class="input input-bordered w-full" />
        </div>
      </div>
      <div class="flex flex-row gap-2">
        <div class="flex-grow">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="text" placeholder="Email" class="input input-bordered w-full" />
        </div>
        <div class="flex-grow">
          <label class="label">
            <span class="label-text">Phone Number</span>
          </label>
          <input type="text" placeholder="Phone Number" class="input input-bordered w-full" />
        </div>
      </div>
      <div class="flex flex-row gap-2">
        <div class="flex-grow">
          <label class="label">
            <span class="label-text">Address</span>
          </label>
          <input type="text" placeholder="Address" class="input input-bordered w-full" />
        </div>
        <div class="flex-grow">
          <label class="label">
            <span class="label-text">Country</span>
          </label>
          <input type="text" placeholder="Country" class="input input-bordered w-full" />
        </div>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          type="text"
          placeholder="password"
          class="input input-bordered"
        />
      </div>
      <div class="form-control mt-6">
        <button class="btn btn-primary">Register</button>
      </div>
      <div class="divider">OR</div>
      <a href="/login" class="text-center link link-hover hover:link-warning"
        >Already have an account? Login</a
      >
    </div>
  </div>
</div>
